html, body, h1, h2, h3, h4, h5, p, a {
    /*font-family: 'Encode Sans Semi Expanded';*/
    font-family: 'Quicksand';
}

/* Dropdown Button */
.dropbtn {
    background-color: #e0e0de;
    font-family: 'Quicksand';
    color: #616161;
    font-size: 25px;
    padding-left: 10%;
    padding-bottom: 5%;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #d6d6d3;
  }

  .dropdown:hover .dropdown-content{
      display: block;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #e0e0de;
    margin-left: 10%;
    width: 100%;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #616161;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

.fade-in {
    animation: fadeIn ease-in 1.5s;
    -webkit-animation: fadeIn ease-in 1.5s;
    -moz-animation: fadeIn ease-in 1.5s;
    -o-animation: fadeIn ease-in 1.5s;
    -ms-animation: fadeIn ease-in 1.5s;
}

.fade-in-delay {
    animation: fadeIn2 ease-in 2s;
    -webkit-animation: fadeIn2 ease-in 2s;
    -moz-animation: fadeIn2 ease-in 2s;
    -o-animation: fadeIn2 ease-in 2s;
    -ms-animation: fadeIn2 ease-in 2s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}
@-moz-keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}
@-webkit-keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}
@-o-keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}
@-ms-keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}

@keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}
@-moz-keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}
@-webkit-keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}
@-o-keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}
@-ms-keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}

@font-face {
    font-family: 'IBTR';
    src: url("../fonts/imperln.eot"); /* IE9 Compat Modes */
    src: url("../fonts/imperln.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/imperln.otf") format("opentype"), /* Open Type Font */
      url("../fonts/imperln.svg") format("svg"), /* Legacy iOS */
      url("../fonts/imperln.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/imperln.woff") format("woff"), /* Modern Browsers */
      url("../fonts/imperln.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }