html, body, h1, h2, h3, h4, h5, p, a {
    font-family: 'Quicksand';
}

.main hr {
    width: 90%;
    padding-bottom: 3%;
}

.main {
    height: 100%;
    position: absolute;
    background-color: #f0efe9;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.main h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'IBTR';
    font-size: 3.5vw;
    padding: 4%;
    color: #4e4e4e;
}

.main h3 {
    text-align: center;
    font-weight: bold;
    font-family: 'IBTR';
    padding: 2%;
    color: #4e4e4e;
}

.main p {
    font-size: 1.5vw;
    color: #4e4e4e;
}

.yt-link {
    font-size: 1.335vw;
    text-decoration: underline;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.headerpanel {
    background-color: #e0e0de;
    text-align: center;
    margin-top: 2%;
}

.headerpanel h1 {
    padding: 2%;
    font-weight: bold;
    font-size: 3.5vw;
    font-family: 'IBTR';
    color: #4e4e4e;
}

.headerpanel p {
    font-size: 1.5vw;
    padding-bottom: 2.5%;
    font-family: 'IBTR';
    color: #6b6b6b;
}

.download-img {
    width: 8%;
    height: auto;
    opacity: 0.70;
}

.split {
    float: left;
}

.one-third {
    width: 33%;
}

.two-thirds {
    width: 67%;
}

.half {
    width: 50%;
}

.float-left {
    float: left;
}

.full-width {
    width: 100%;
}

input {
    width: 100%;
    padding: 5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    font-family: 'Quicksand';
    font-weight: bold;
}

.send-button {
    background-color: #e0e0de;
    color: #616161;
    font-size: 1.6vw;
    padding: 0.5% 2% 0.5% 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.center-text {
    text-align: center;
}

.embed-pdf {
    margin-left: 18%;
    margin-bottom: 5%;
    height: 100%;
}

.image-diagram {
    width: 80%;
    height: auto;
    margin-left: 10%;
    padding-bottom: 5%;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #f0efe9; 
  }

body::-webkit-scrollbar-thumb {
    background-color: #d3d2c8; 
  }

.fade-in {
    animation: fadeIn ease-in 1.5s;
    -webkit-animation: fadeIn ease-in 1.5s;
    -moz-animation: fadeIn ease-in 1.5s;
    -o-animation: fadeIn ease-in 1.5s;
    -ms-animation: fadeIn ease-in 1.5s;
}

.fade-in-delay {
    animation: fadeIn2 ease-in 2s;
    -webkit-animation: fadeIn2 ease-in 2s;
    -moz-animation: fadeIn2 ease-in 2s;
    -o-animation: fadeIn2 ease-in 2s;
    -ms-animation: fadeIn2 ease-in 2s;
}

@keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}
@-moz-keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}
@-webkit-keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}
@-o-keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}
@-ms-keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}

@keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}
@-moz-keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}
@-webkit-keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}
@-o-keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}
@-ms-keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}

@font-face {
    font-family: 'IBTR';
    src: url("../fonts/imperln.eot"); /* IE9 Compat Modes */
    src: url("../fonts/imperln.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/imperln.otf") format("opentype"), /* Open Type Font */
      url("../fonts/imperln.svg") format("svg"), /* Legacy iOS */
      url("../fonts/imperln.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/imperln.woff") format("woff"), /* Modern Browsers */
      url("../fonts/imperln.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}