#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #10152b;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0.9;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.down-arrow {
    animation: pulse infinite 2s;
    -webkit-animation: pulse infinite 2s;
    -moz-animation: pulse infinite 2s;
    -o-animation: pulse infinite 2s;
    -ms-animation: pulse infinite 2s;
}

.mobile-block {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 8;
}

hr {
    border: 1px solid white;
    width: 5%;
    margin: 0 auto;
}

/* Mobile */
@media screen and (min-width:0px) {
    h1 {
        color: #f0f0f0;
        font-size: 7vw;
        font-weight: 300;
    }

    p {
        color: #c4c4c4;
        font-size: 4vw;
    }

    .intro {
        width: 60vw;
        border-radius: 15px;
        text-align: center;
        position: absolute;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-30vw, -33vw);
        padding: 5vw;
        z-index: 10;
    }

    .intro i {
        color: #c4c4c4;
        transition-duration: 0.25s;
        font-size: 6vw;
    }

    .intro img {
        width: 55%;
        height: auto;
        border-radius: 50%;
        transition-duration: 0.25s;
        padding-bottom: 7%;
    }

    .down-arrow {
        position: absolute;
        z-index: 200;
        width: 10vw;
        height: auto;
        filter: brightness(0) invert(1);
        left: 45vw;
        top: 82vh;
    }

    .page {
        position: absolute;
        z-index: 10;
        top: 100%;
        width: 100%;
        opacity: 0.92;
        padding-top: 10vh;
        height: 49vh;

        text-align: center;
    }

    .textpad {
        position: absolute;
        border-radius: 7px;
        z-index: 10;
        top: 110vh;
        left: 10vw;
        width: 80vw;
        opacity: 1;
        line-height: 1.65;
        font-size: 2.15vmin !important;

        font-family: 'Courier Prime', monospace;
        text-align: left;
    }
}

/* Monitor */
@media screen and (orientation:landscape) {
    h1 {
        color: #f0f0f0;
        font-size: 2.3vw;
        font-weight: 300;
        margin: 0;
    }

    .page h1 {
        font-size: 2.5vw;
        padding-bottom: 6vh;
    }

    p {
        color: #c4c4c4;
        font-size: 1.3vw;
        margin: 0;
    }

    .page p {
        max-width: 50vw;
        margin-left: 25vw;
        padding-top: 6vh;
    }

    .intro {
        width: 20vw;
        border-radius: 15px;
        text-align: center;
        position: absolute;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-10.2vw, -13vw);
        padding: 2vw;
        z-index: 10;
    }

    .intro i {
        color: #c4c4c4;
        transition-duration: 0.25s;
        font-size: 2vw;
    }

    .intro img {
        width: 55%;
        height: auto;
        border-radius: 50%;
        transition-duration: 0.25s;
        padding-bottom: 10%;
    }

    .intro ul {
        margin: 0;
        padding-top: 10%;
    }

    .down-arrow {
        position: absolute;
        z-index: 10;
        width: 4vw;
        height: auto;
        filter: brightness(0) invert(1);
        left: 48vw;
        top: 82vh;
    }

    .mobile-block {
        display: none;
    }

    .page {
        position: absolute;
        z-index: 10;
        top: 100%;
        width: 100%;
        opacity: 0.94;
        padding-top: 10vh;
        height: 49vh;

        text-align: center;
    }

    .textpad {
        position: absolute;
        border-radius: 7px;
        width: 70vw;
        height: 93vh;
        top: 160vh;
        left: 15vw;
        opacity: 1;
        line-height: 1.65;
        font-size: 2.15vmin !important;

        font-family: 'Courier Prime', monospace;
        text-align: left;
    }

}

/*
html, body, main, h1, h2, h3, h4, h5, p, a {
    font-family: 'Roboto', sans-serif;
    color: #ffffff !important;
}
*/

::-webkit-scrollbar {
    display: none;
  }

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    padding: 0;
    background-image: url("../images/math.png");
    background-attachment: fixed;

    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    line-height: 2;
}

body, main, footer {
    background-color: #24305e !important;
}

.linebar-color {
    background-color: #2d3a6d;
}

.primary {
    background-color: #24305e !important;
}

.primary-2 {
    background-color: #1e264e !important;
}

.secondary {
    background-color: #374785 !important;
}

.tertiary {
    background-color: #a8d0e6 !important;
}

.int {
    color: #a8d0e6 !important;
}

.string {
    color: #f8e9a1 !important;
}

.bool {
    color: #f76c6c !important;
}

.regular {
    color: #f0f0f0 !important;
}

.textpad-linecount a {
    color: #858585 !important;
    text-align: right !important;
}

.intro img:hover {
    opacity: 70%;
}

.intro ul > li {
    display: inline-block;
    padding-left: 3%;
    padding-right: 3%;
}

.intro i:hover {
    color: #ffffff;
}

.textpad-header {
    background-color: #5f5a5a;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    height: 4vh;
}

.header-button {
    height: 2vh;
    width: 2vh;
    float: left;
    margin-left: 1%;
    margin-top: 1vh;
    border-radius: 50%;
    transition-duration: 0.25s;
}

.header-button:hover {
    opacity: 50%;
}

.textpad-tabbar {
    background-color: #5f5a5a;
    position: relative;
    height: 4vh;
}

.closeout {
    background-color: #ff605c !important;
}

.minimize {
    background-color: #ffbd44 !important;
}

.maximize {
    background-color: #00ca4e !important;
}

.textpad-tabbar button {
    height: 100%;
    width: 20%;
    text-align: left;
    float: left;
    border: 1px solid #3a3636;
    background-color: #5f5a5a;
    margin: 0;
    color: #f0f0f0;
    transition-duration: 0.25s;
}

.textpad-tabbar button:hover {
    background-color: #524d4d !important;
}

.textpad-tabbar button:focus {
    outline: none;
}

.textpad-body {
    position: relative;
    height: 85vh;
}

.textpad-linecount {
    border-bottom-left-radius: 10px;
    height: 100%;
    width: 3%;
    padding-right: 0.5%;
    float: left;
}

.textpad-text {
    border-bottom-right-radius: 10px;
    height: 100%;
    width: 97%;
    float: left;
}

.textpad-body a {
    float: left;
}

.indent {
    padding-left: 1%;
}

.footer {
    text-align: center;
}

.link {
    text-decoration: underline;
}

/*
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #2d3a6d; 
  }

body::-webkit-scrollbar-thumb {
    background-color: #374785; 
  } */

.fade-in {
    animation: fadeIn ease-in 1.5s;
    -webkit-animation: fadeIn ease-in 1.5s;
    -moz-animation: fadeIn ease-in 1.5s;
    -o-animation: fadeIn ease-in 1.5s;
    -ms-animation: fadeIn ease-in 1.5s;
}

.fade-in-delay {
    animation: fadeIn2 ease-in 2s;
    -webkit-animation: fadeIn2 ease-in 2s;
    -moz-animation: fadeIn2 ease-in 2s;
    -o-animation: fadeIn2 ease-in 2s;
    -ms-animation: fadeIn2 ease-in 2s;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.25); }
    100% { transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.25); }
    100% { transform: scale(1); }
}
@-webkit-keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.25); }
    100% { transform: scale(1); }
}
@-o-keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.25); }
    100% { transform: scale(1); }
}
@-ms-keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.25); }
    100% { transform: scale(1); }
}

@keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}
@-moz-keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}
@-webkit-keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}
@-o-keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}
@-ms-keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}

@keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}
@-moz-keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}
@-webkit-keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}
@-o-keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}
@-ms-keyframes fadeIn2 {
0% { opacity:0; }
50% { opacity:0; }
100% { opacity:1; }
}
